<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-6 col-sm-4"></div>
        <div class="col-md-4 col-xs-6 col-sm-4">
            <h2>Welcome to Recipe Store</h2>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-6 col-sm-4"></div>
        <div class="col-md-4 col-xs-6 col-sm-4">
            <div class="center-box"></div>
            <label>-Built with Angular CLI. and backend with firebase functions.</label>
            <label>-Statistics graph made with valor.</label>
            <label>-In the future there will be user module(with fb/email/gmail etc..)</label>
            <label>-Found a bug? Please contact me.</label>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-4"></div>
    </div>

    <!--poster="~/media/video.jpg"-->
    <video  id="bgvid" playsinline autoplay muted loop>
        <source src='https://firebasestorage.googleapis.com/v0/b/recipewebapp-4a3c3.appspot.com/o/Conscious%20Cooking%20Teaser.mp4?alt=media&token=84e8b349-7ce0-430f-82b9-e2ea10884614' type="video/mp4">
    </video>

<aside>
    <div class="flash-news">
        <div class="animate">
            <h2 *ngIf="lastRecipeName !== undefined">
                The Last Recipe Added is: {{lastRecipeName}}
            </h2>
        </div>

    </div>

</aside>
</div>

