body {
    margin: 0;
    background: #000;
}

.center-box {
    position: absolute;
    height: 500px;
    width: 360px;
    background-color: #555555;
    opacity: 0.5;
    text-align: center;
}

@media (max-width: 1200px) {
    .center-box {
        width: 293.328px;
    }
}

@media (max-width: 991px) {
    .center-box {
        width: 220px;
    }
}




.on-top {
    position: relative;
}

.col-md-4 {
    text-align: center;
}

label {
    position: relative;
    top: 4.7em;
    color: #000;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}


.flash-news {
    display: block;
    height: 700px;
    width: 220px;
    background-color: whitesmoke;
    top: 60px;
    right: 10px;
    position: fixed;
    opacity: 0.8;
}

h2 {
    text-shadow: 2px 2px 5px #bbbb;
    font-family: myFont;
}

@font-face {
    font-family: myFont;
    font-style: normal;
    font-weight: 400;
    src: local('Rancho Regular'), local('Rancho-Regular'), url(https://fonts.gstatic.com/s/rancho/v8/S-YcqhLwgYWxIA-a7eDp2g.woff2) format('woff2');
}


@media (max-height: 880px) {
    .center-box {
        height: 450px;
    }
    .flash-news {
        height: 650px;
    }
}

@media (max-height: 830px) {
    .center-box {
        height: 400px;
    }
    .flash-news {
        height: 600px;
    }
}

@media (max-height: 780px) {
    .center-box {
        height: 350px;
    }
    .flash-news {
        height: 550px;
    }
}

@media (max-height: 730px) {
    .center-box {
        height: 300px;
    }
    .flash-news {
        height: 500px;
    }
}

.animate {
    padding-top: 0px;
    transition: 0.3s;
}

.flash-news:hover > .animate {
    padding-top: 100px;
    transition: 0.3s;
}