<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
                <h2>Pie Food Category.</h2>
            <div style="display: block">
                <canvas baseChart
                        #pieChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-md-6">
                <h2>Stores Location Chart.</h2>
            <div style="display: block">
                <canvas baseChart
                        #barChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
     </div>
</div>
